</body>

<!--<footer id="footer">-->
<!--    <i class="social-icon fab fa-twitter footer-fab"></i>-->
<!--    <i class="social-icon fab fa-facebook-f footer-fab"></i>-->
<!--    <i class="social-icon fab fa-instagram footer-fab"></i>-->
<!--    <i class="social-icon fas fa-envelope footer-fab"></i>-->
<!--    <p>© Copyright 2019 Rookies</p>-->

<!--</footer>-->
<!--<footer class="layout-footer">-->

<!--<div class="footer-menus container">-->

<!--    &lt;!&ndash; grid starts &ndash;&gt;-->
<!--    <div class="row">-->
<!--        <div class="col">-->
<!--            &lt;!&ndash; settings ends &ndash;&gt;-->
<!--            &lt;!&ndash; logo starts &ndash;&gt;-->
<!--            <h5>Related websites</h5>-->
<!--            <div class="logo"><a href="https://www.domain.com.au/?mode=rent&gclid=Cj0KCQjwl8XtBRDAARIsAKfwtxBoQ8Qbz2d9hY5EZZ_CfEi22fmgsFlCF8TyoWMJQI-WHLnVsdpC-nwaAiYHEALw_wcB"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQDyNZjktps7LD08legDHdqOqUDqLvcYSs88cn5Yh5brQel2U09" width="150" height="40"></a></div>-->
<!--            <div class="logo"><a href="https://www.booking.com/index.html?aid=376367;label=booking-name-c8fIkCExjSRUy2uljpllUgS267725016201:pl:ta:p1:p22,538,000:ac:ap1t1:neg:fi:tikwd-65526620:lp9071828:li:dec:dm;ws=&gclid=Cj0KCQjwl8XtBRDAARIsAKfwtxA-9Uk3jSQ0DeiiT-7HcP4UfANT8XWIfvaN9XcOW_Mwdf0h4OaGu7gaAh1vEALw_wcB"><img src="https://www.gstcouncil.org/wp-content/uploads/logo-booking-com-png-booking-com-1020.png" width="150" height="50"></a></div>-->
<!--            <div class="logo"><a href="https://www.airbnb.com.au/a/?af=43720035&c=.pi0.pk65700981248_388144836195_c_12026464216&sem_position=1t1&sem_target=aud-414944083185:kwd-12026464216&location_of_interest=&location_physical=9071828&ghost=true&gclid=Cj0KCQjwl8XtBRDAARIsAKfwtxC6Q9TWjax8cjSXbjEO0wnYWrVBZlZ47pcqUdKllHA4okstmDTZTG8aAotVEALw_wcB"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSy2gnIv_DA6TCuFEyhKVYqYIH6xMa0xy88D02W-08-I_Yadi2h" width="150" height="60"></a></div>-->
<!--            &lt;!&ndash; logo ends &ndash;&gt;-->

<!--        </div>-->

<!--        <div class="col">-->

<!--            &lt;!&ndash; menu starts &ndash;&gt;-->
<!--            <nav class="menu">-->

<!--                <h5>Top Destinations</h5>-->

<!--                &lt;!&ndash; nav starts &ndash;&gt;-->
<!--                <ul class="nav nav-tree nav-footer">-->

<!--                    <li class="nav-item"><a href="/diving/indonesia" class="nav-link">Indonesia</a></li>-->

<!--                    <li class="nav-item"><a href="/diving/egypt" class="nav-link">Egypt</a></li>-->

<!--                    <li class="nav-item"><a href="/diving/galapagos" class="nav-link">Galapagos</a></li>-->

<!--                    <li class="nav-item"><a href="/diving/maldives" class="nav-link">Maldives</a></li>-->

<!--                    <li class="nav-item"><a href="/diving/thailand" class="nav-link">Thailand</a></li>-->

<!--                    <li class="nav-item"><a href="/diving/mexico" class="nav-link">Mexico</a></li>-->

<!--                    <li class="nav-item"><a href="/diving/philippines" class="nav-link">Philippines</a></li>-->

<!--                    <li class="nav-item"><a href="/diving/australia" class="nav-link">Australia</a></li>-->

<!--                    <li class="nav-item"><a href="/diving/all-destinations" class="nav-link">All Destinations (A-Z)</a></li>-->

<!--                    <li class="nav-item"><a href="/diving/liveaboards-worldwide" class="nav-link">All Liveaboards (A-Z)</a></li>-->

<!--                </ul>-->
<!--                &lt;!&ndash; nav ends &ndash;&gt;-->

<!--            </nav>-->
<!--            &lt;!&ndash; menu ends &ndash;&gt;-->

<!--        </div>-->
<!--        <div class="col">-->

<!--            &lt;!&ndash; menu starts &ndash;&gt;-->
<!--            <nav class="menu">-->

<!--                <h5>Top Dive Areas</h5>-->

<!--                &lt;!&ndash; nav starts &ndash;&gt;-->
<!--                <ul class="nav nav-tree nav-footer">-->

<!--                    <li class="nav-item"><a href="/diving/indonesia/komodo" class="nav-link">Komodo</a></li>-->

<!--                    <li class="nav-item"><a href="/diving/indonesia/komodo-national-park" class="nav-link">Komodo National Park</a></li>-->

<!--                    <li class="nav-item"><a href="/diving/indonesia/raja-ampat" class="nav-link">Raja Ampat</a></li>-->

<!--                    <li class="nav-item"><a href="/diving/egypt/thistlegorm" class="nav-link">Thistlegorm</a></li>-->

<!--                    <li class="nav-item"><a href="/diving/indonesia/rinca" class="nav-link">Rinca</a></li>-->

<!--                    <li class="nav-item"><a href="/diving/egypt/ras-mohammed" class="nav-link">Ras Mohammed</a></li>-->

<!--                    <li class="nav-item"><a href="/diving/egypt/the-brothers" class="nav-link">The Brothers</a></li>-->

<!--                    <li class="nav-item"><a href="/diving/indonesia/misool" class="nav-link">Misool</a></li>-->

<!--                    <li class="nav-item"><a href="/diving/egypt/red-sea" class="nav-link">Red Sea</a></li>-->

<!--                </ul>-->
<!--                &lt;!&ndash; nav ends &ndash;&gt;-->

<!--            </nav>-->
<!--            &lt;!&ndash; menu ends &ndash;&gt;-->

<!--        </div>-->
<!--        <div class="col">-->
<!--            &lt;!&ndash; menu starts &ndash;&gt;-->
<!--            <nav class="menu">-->

<!--                <h5>Company</h5>-->

<!--                &lt;!&ndash; nav starts &ndash;&gt;-->
<!--                <ul class="nav nav-tree nav-footer">-->
<!--                    <li class="nav-item"><a href="/aboutus" class="nav-link" title="More about us">More about us</a></li>-->
<!--                    <li class="nav-item"><a href="/contactus" class="nav-link">Customer Support</a></li>-->
<!--                    <li class="nav-item"><a href="/partners" class="nav-link">Become an affiliate</a></li>-->
<!--                    <li class="nav-item"><a href="https://liveaboard.recruitee.com/" rel="nofollow" target="_blank" class="nav-link">Careers</a></li>-->
<!--                </ul>-->
<!--                &lt;!&ndash; nav ends &ndash;&gt;-->

<!--            </nav>-->
<!--            &lt;!&ndash; menu ends &ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; grid ends &ndash;&gt;-->

<!--</div>-->
<!--&lt;!&ndash; foot ends &ndash;&gt;-->
<!--&lt;!&ndash; foot starts &ndash;&gt;-->
<!--<div class="foot footer-legal container">-->

<!--    &lt;!&ndash; copyright starts &ndash;&gt;-->
<!--    <div class="copyright">Copyright © 2019 LiveAboard.com. All rights reserved. </div>-->
<!--    &lt;!&ndash; copyright ends &ndash;&gt;-->
<!--    &lt;!&ndash; nav starts &ndash;&gt;-->
<!--    <ul class="nav nav-links nav-footer-links">-->
<!--        <li class="nav-item"><a href="/privacy" rel="nofollow" class="nav-link" title="Privacy Policy">Privacy Policy</a></li>-->
<!--        <li class="nav-item"><a href="/terms"  rel="nofollow" class="nav-link">Terms Of Use</a></li>-->
<!--    </ul>-->
<!--    &lt;!&ndash; nav ends &ndash;&gt;-->

<!--</div>-->
<!--&lt;!&ndash; foot ends &ndash;&gt;-->

<!--</footer>-->

<footer class="layout-footer">
    <!-- foot starts -->
    <div class="foot footer-partners container">
        <!-- partners starts -->
        <ul class="list-unstyled list-inline list-inline-5 list-margin-6 mt-2">
            <li class="list-inline-item"><img src="//d2cz0wk7mo1cab.cloudfront.net/img/logo-sportdiver@3x.png" srcset="//d2cz0wk7mo1cab.cloudfront.net/img/img-loader.png" data-srcset="//d2cz0wk7mo1cab.cloudfront.net/img/logo-sportdiver@3x.png 1x, //d2cz0wk7mo1cab.cloudfront.net/img/logo-sportdiver@3x.png 2x" class="lazyload" width="164" height="34" alt="Sport Diver"></li>
            <li class="list-inline-item"><img src="//d2cz0wk7mo1cab.cloudfront.net/img/logo-scuba-diver-life@3x.png" srcset="//d2cz0wk7mo1cab.cloudfront.net/img/img-loader.png" data-srcset="//d2cz0wk7mo1cab.cloudfront.net/img/logo-scuba-diver-life@3x.png 1x, //d2cz0wk7mo1cab.cloudfront.net/img/logo-scuba-diver-life@3x.png 2x" class="lazyload" width="144" height="58" alt="Scuba Diver Life"></li>
            <li class="list-inline-item"><img src="//d2cz0wk7mo1cab.cloudfront.net/img/logo-scuba-diving@3x.png" srcset="//d2cz0wk7mo1cab.cloudfront.net/img/img-loader.png" data-srcset="//d2cz0wk7mo1cab.cloudfront.net/img/logo-scuba-diving@3x.png 1x, //d2cz0wk7mo1cab.cloudfront.net/img/logo-scuba-diving@3x.png 2x" class="lazyload" width="154" height="42" alt="Scuba Diving" /></li>
            <li class="list-inline-item"><img src="//d2cz0wk7mo1cab.cloudfront.net/img/logo-international-business-times@3x.png" srcset="//d2cz0wk7mo1cab.cloudfront.net/img/img-loader.png" data-srcset="//d2cz0wk7mo1cab.cloudfront.net/img/logo-international-business-times@3x.png 1x, //d2cz0wk7mo1cab.cloudfront.net/img/logo-international-business-times@3x.png 2x" class="lazyload" width="146" height="60" alt="International Business Times"></li>
            <li class="list-inline-item"><img src="//d2cz0wk7mo1cab.cloudfront.net/img/logo-mail-online@3x.png" srcset="//d2cz0wk7mo1cab.cloudfront.net/img/img-loader.png" data-srcset="//d2cz0wk7mo1cab.cloudfront.net/img/logo-mail-online@3x.png 1x, //d2cz0wk7mo1cab.cloudfront.net/img/logo-mail-online@3x.png 2x" class="lazyload" width="196" height="34" alt="Mail Online"></li>
        </ul>
        <!-- partners ends -->

    </div>
    <!-- foot ends -->
    <!-- foot starts -->
    <div class="foot footer-menus container">

        <!-- grid starts -->
        <div class="row">
            <div class="col">

                <!-- settings starts -->
                <div class="footer-settings">

                    <div class="form-group">
                        <label class="sr-only" for="display-language">Change language</label>
                        <select class="form-control is-opaque" name="display-language" id="display-language">

                            <option value="/diving/philippines/apo-island?ldd=1&slid=1"  >English</option>
                            <option value="/diving/philippines/apo-island?ldd=1&slid=2"  >English (AU)</option>
                            <option value="/diving/philippines/apo-island?ldd=1&slid=3"  >English (US)</option>
                            <option value="/diving/philippines/apo-island?ldd=1&slid=4"  >English (CA)</option>
                            <option value="/diving/philippines/apo-island?ldd=1&slid=5"  >English (SG)</option>
                            <option value="/diving/philippines/apo-island?ldd=1&slid=6"  >English (NZ)</option>
                            <option value="/nl/search/philippines?ldd=1&slid=7"  >Nederlands</option>
                            <option value="/nl/search/philippines?ldd=1&slid=8"  >Nederlands (BE)</option>
                            <option value="/de/diving/philippines/apo-island?ldd=1&slid=9"  >Deutsch</option>
                            <option value="/de/diving/philippines/apo-island?ldd=1&slid=10"  >Deutsch (CH)</option>
                            <option value="/de/diving/philippines/apo-island?ldd=1&slid=11"  >Deutsch (AT)</option>
                            <option value="/fr/search/philippines?ldd=1&slid=12"  >Français</option>
                            <option value="/fr/search/philippines?ldd=1&slid=13"  >Français (CH)</option>
                            <option value="/fr/search/philippines?ldd=1&slid=14"  >Français (BE)</option>
                            <option value="/es/search/philippines?ldd=1&slid=16"  >Español</option>
                            <option value="/es/search/philippines?ldd=1&slid=17"  >Español (MX)</option>
                            <option value="/es/search/philippines?ldd=1&slid=18"  >Español (AR)</option>
                            <option value="/it/search/philippines?ldd=1&slid=15"  >Italiano</option>
                            <option value="/ru/search/philippines?ldd=1&slid=19"  >Русский</option>
                            <option value="/zh/search/philippines?ldd=1&slid=20"  >中文</option>
                            <option value="/ja/search/philippines?ldd=1&slid=21"  >日本語</option>
                            <option value="/ko/search/philippines?ldd=1&slid=22"  >한국어</option>
                            <option value="/pt/search/philippines?ldd=1&slid=23"  >Português</option>
                            <option value="/pt/search/philippines?ldd=1&slid=24"  >Português (BR)</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="display-currency">Change currency</label>
                        <select class="form-control is-opaque" name="display-currency" id="display-currency">

                            <option value="USD" >USD</option>
                            <option value="EUR" >EUR</option>
                            <option value="GBP" >GBP</option>
                            <option value="JPY" >JPY</option>
                            <option value="CNY" >CNY</option>
                            <option value="DKK" >DKK</option>
                            <option value="NOK" >NOK</option>
                            <option value="SEK" >SEK</option>
                            <option value="RUB" >RUB</option>
                            <option value="PLN" >PLN</option>
                            <option value="TRY" >TRY</option>
                            <option value="KRW" >KRW</option>
                            <option value="AUD" selected>AUD</option>
                            <option value="BRL" >BRL</option>
                            <option value="CAD" >CAD</option>
                            <option value="CHF" >CHF</option>
                            <option value="CZK" >CZK</option>
                            <option value="HKD" >HKD</option>
                            <option value="HRK" >HRK</option>
                            <option value="HUF" >HUF</option>
                            <option value="ILS" >ILS</option>
                            <option value="INR" >INR</option>
                            <option value="MXN" >MXN</option>
                            <option value="MYR" >MYR</option>
                            <option value="NZD" >NZD</option>
                            <option value="PHP" >PHP</option>
                            <option value="RON" >RON</option>
                            <option value="SGD" >SGD</option>
                            <option value="ZAR" >ZAR</option>
                        </select>
                    </div>

                </div>
                <!-- settings ends -->
                <!-- logo starts -->
                <div class="logo"><a href=""><img src="//d2cz0wk7mo1cab.cloudfront.net/img/liveaboard-logo-inverted.svg" width="200" height="30" alt="LiveAboard"></a></div>
                <!-- logo ends -->

            </div>
            <div class="col">

                <!-- menu starts -->
                <nav class="menu">

                    <h5>Top Destinations</h5>

                    <!-- nav starts -->
                    <ul class="nav nav-tree nav-footer">

                        <li class="nav-item"><a href="/diving/indonesia" class="nav-link">Indonesia</a></li>

                        <li class="nav-item"><a href="/diving/egypt" class="nav-link">Egypt</a></li>

                        <li class="nav-item"><a href="/diving/galapagos" class="nav-link">Galapagos</a></li>

                        <li class="nav-item"><a href="/diving/maldives" class="nav-link">Maldives</a></li>

                        <li class="nav-item"><a href="/diving/thailand" class="nav-link">Thailand</a></li>

                        <li class="nav-item"><a href="/diving/mexico" class="nav-link">Mexico</a></li>

                        <li class="nav-item"><a href="/diving/philippines" class="nav-link">Philippines</a></li>

                        <li class="nav-item"><a href="/diving/australia" class="nav-link">Australia</a></li>

                        <li class="nav-item"><a href="/diving/all-destinations" class="nav-link">All Destinations (A-Z)</a></li>

                        <li class="nav-item"><a href="/diving/liveaboards-worldwide" class="nav-link">All Liveaboards (A-Z)</a></li>

                    </ul>
                    <!-- nav ends -->

                </nav>
                <!-- menu ends -->

            </div>
            <div class="col">

                <!-- menu starts -->
                <nav class="menu">

                    <h5>Top Dive Areas</h5>

                    <!-- nav starts -->
                    <ul class="nav nav-tree nav-footer">

                        <li class="nav-item"><a href="/diving/indonesia/komodo" class="nav-link">Komodo</a></li>

                        <li class="nav-item"><a href="/diving/indonesia/komodo-national-park" class="nav-link">Komodo National Park</a></li>

                        <li class="nav-item"><a href="/diving/indonesia/raja-ampat" class="nav-link">Raja Ampat</a></li>

                        <li class="nav-item"><a href="/diving/egypt/thistlegorm" class="nav-link">Thistlegorm</a></li>

                        <li class="nav-item"><a href="/diving/indonesia/rinca" class="nav-link">Rinca</a></li>

                        <li class="nav-item"><a href="/diving/egypt/ras-mohammed" class="nav-link">Ras Mohammed</a></li>

                        <li class="nav-item"><a href="/diving/egypt/the-brothers" class="nav-link">The Brothers</a></li>

                        <li class="nav-item"><a href="/diving/indonesia/misool" class="nav-link">Misool</a></li>

                        <li class="nav-item"><a href="/diving/egypt/red-sea" class="nav-link">Red Sea</a></li>

                    </ul>
                    <!-- nav ends -->

                </nav>
                <!-- menu ends -->

            </div>
            <div class="col">
                <!-- menu starts -->
                <nav class="menu">

                    <h5>Company</h5>

                    <!-- nav starts -->
                    <ul class="nav nav-tree nav-footer">
                        <li class="nav-item"><a href="/aboutus" class="nav-link" title="More about us">More about us</a></li>
                        <li class="nav-item"><a href="/contactus" class="nav-link">Customer Support</a></li>
                        <li class="nav-item"><a href="/partners" class="nav-link">Become an affiliate</a></li>
                        <li class="nav-item"><a href="https://liveaboard.recruitee.com/" rel="nofollow" target="_blank" class="nav-link">Careers</a></li>
                    </ul>
                    <!-- nav ends -->

                </nav>
                <!-- menu ends -->
            </div>
        </div>
        <!-- grid ends -->

    </div>
    <!-- foot ends -->
    <!-- foot starts -->
    <div class="foot footer-legal container">

        <!-- copyright starts -->
        <div class="copyright">Copyright © 2019 Rookies.com. All rights reserved. </div>
        <!-- copyright ends -->
        <!-- nav starts -->
        <ul class="nav nav-links nav-footer-links">
           <li><i class="social-icon fab fa-twitter footer-fab"></i></li>
            <li><i class="social-icon fab fa-facebook-f footer-fab"></i></li>
            <li><i class="social-icon fab fa-instagram footer-fab"></i></li>
            <li><i class="social-icon fas fa-envelope footer-fab"></i></li>
        </ul>
        <!-- nav ends -->

    </div>
    <!-- foot ends -->

</footer>

</html>